Makefile
build
actor-framework
benchmark
evaluation/pingpong/udp*.err
evaluation/pingpong/udp*.out
evaluation/pingpong/tcp*.err
evaluation/pingpong/tcp*.out
evaluation/pingpong/quic*.err
evaluation/pingpong/quic*.out
evaluation/*.log
evaluation/pingpong/*.csv
figs/*.tikz
figs/*.pdf
data/*-file
evaluation/out/*.out
evaluation/out/*.err

### Python ###
__pycache__/
*.py[cod]
*$py.class

### vscode ###
.vscode/
**/*.idea/
### libs ###
picotls/
quicly/

### quicly ###
**/ticket.bin
