Makefile
build
actor-framework
benchmark
evaluation/pingpong/udp*.err
evaluation/pingpong/udp*.out
evaluation/pingpong/tcp*.err
evaluation/pingpong/tcp*.out
figs/*.tikz
figs/*.pdf

### Python ###
__pycache__/
*.py[cod]
*$py.class
